.app {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid rgba(241, 191, 114, 0.6);

  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 5px 5px 8px 0 rgba(208, 208, 208, 1);
}
